{% extends 'register_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Change password {% endblock title %}

{% block content %}
<div class="register-form bg-light rounded bg-opacity-75 p-3 text-center">
    <h1>Password Change</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
        typed it correctly.</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn btn-primary" type="submit" value="Change my password">
    </form>
</div>
{% endblock content %}