@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* PAGE SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/* LAYOUT */

body {
    color: rgb(53, 53, 53);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0)), url("../images/header.f7f0644a5089.jpg");
    background-attachment: fixed;
    height: 100vh;
    color: rgb(36, 36, 36);
    margin-bottom: 2rem;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0)), url("../images/footer.eaadecc22d69.jpg");
    background-attachment: fixed;
    height: 35vh;
}

.register-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(255, 255, 255, 0)), url("../images/register.90592fb65912.jpg");
    background-size: cover;
    position: relative;
}

.register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}